<!DOCTYPE html>
<html lang="en">
<head>
	<title>Electricity Theft</title>
	<!-- Load static files  -->
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-table100">
			<div class="">
				<h1 class="display-md-1 font-weight-bold">
					<u>Electricity Theft</u>
				</h1>
			</div>
			<div class="table100 ver2 m-b-100">
				<table class="w-100">
					<thead>
						<tr class="row100 head ">
							<th class="column1 text-center" data-column="column1">S/No</th>
							<th class="column2" data-column="column2">Date</th>
							<th class="column3" data-column="column3">Time</th>
							<th class="column4" data-column="column4">Cur1 (A)</th>
							<th class="column5" data-column="column5">Cur2 (A)</th>
							<th class="column6" data-column="column6">Total</th>
							<th class="column7" data-column="column7">Source</th>
						</tr>
					</thead>
					<tbody>
						<tr class="row100">
							<td class="column1 text-center" data-column="column1">4</td>
							<td class="column2 text-center" data-column="column2">20/05/2020</td>
							<td class="column3 text-center" data-column="column3">08:50:05</td>
							<td class="column5 text-center" data-column="column5">1.05</td>
							<td class="column6 text-center" data-column="column6">2.03</td>
							<td class="column7 text-center" data-column="column7">3.08</td>
							<td class="column8 text-center" data-column="column8">3.08</td>
						</tr>

						<tr class="row100">
							<td class="column1 text-center" data-column="column1">3</td>
							<td class="column2" data-column="column2">20/05/2020</td>
							<td class="column3" data-column="column3">08:50:05</td>
							<td class="column5" data-column="column5">1.05</td>
							<td class="column6" data-column="column6">2.03</td>
							<td class="column7" data-column="column7">3.08</td>
							<td class="column8" data-column="column8">3.08</td>
						</tr>

						<tr class="row100">
							<td class="column1 text-center" data-column="column1">2</td>
							<td class="column2" data-column="column2">20/05/2020</td>
							<td class="column3" data-column="column3">08:50:05</td>
							<td class="column5" data-column="column5">1.05</td>
							<td class="column6" data-column="column6">2.03</td>
							<td class="column7" data-column="column7">3.08</td>
							<td class="column8" data-column="column8">3.08</td>
						</tr>

						<tr class="row100">
							<td class="column1 text-center" data-column="column1">1</td>
							<td class="column2" data-column="column2">20/05/2020</td>
							<td class="column3" data-column="column3">08:50:05</td>
							<td class="column5" data-column="column5">1.05</td>
							<td class="column6" data-column="column6">2.03</td>
							<td class="column7" data-column="column7">3.08</td>
							<td class="column8" data-column="column8">3.08</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>


	

<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>